html {
  font-size: 100%;
  line-height: 1.3;
}

h1,
figcaption {
  font-family: Georgia, Times, "Times New Roman",
}

p {
  font-family: Verdana, Geneva, sans-serif;
}

img {
  border-top: solid 1px #bea586;
  border-bottom: solid 1px #bea586;
}
